<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Задачи</title>
<link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
	<center>

		<div id="contentdiv" >
				<div id="headerdiv">
		</div>
		<div style="margin: 40px;">
	<a th:href="@{/tasks/0}">Задачи</a><br>
	<a th:href="@{/people/0}">Пользователи</a><br>


</div>
<a sec:authorize="!isAuthenticated()" th:href="@{/auth/registration}"><h3>Регистрация</h3></a>
<a sec:authorize="!isAuthenticated()" th:href="@{/auth/login}"><h3>Войти</h3></a>
<span th:unless="${error}==null" th:text="${error}"></span>
<a sec:authorize="isAuthenticated()" th:href="@{/tasks/add}"><h3>Создать</h3></a>
<h2 th:text="'Вы действительно хотите удалить следующий комментарий?'"/>
<form th:method="DELETE" th:action="@{/tasks/comment/delete/confirm/{id}(id=${comment.id})}" th:object="${comment}">
		<!--<input type="hidden" id="id" th:name="id" name="id" th:value="${task.id}"/>-->
	Комментарий: <span th:text="${comment.body}"/><br>
	Задача: <span th:text="${comment.task.title}"/><br>
	Автор: <a th:href="@{/people/view/{id}/comments/0(id=${comment.author?.id})}" th:text="${comment.author?.name}"/><br>
	Создан: <span th:text="${#temporals.format(comment.createdAt, 'dd-MM-yyyy HH:mm')}"/><br>
	Изменен: <span th:text="${#temporals.format(comment.editedAt, 'dd-MM-yyyy HH:mm')}"/><br>
	<input type="submit" value="Удалить"/>

		</div>
		<div id="prefooter"></div>
		</div><!-- Закрытие div контент -->
<div id="footerdiv">Это подвал</div>
</center>
</body>
</html>